@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


* {
  font-family: 'Montserrat', sans-serif;
}


@theme {
  --color-primary: #1e5b94;
  --color-background: #f6f6f6;
  --color-foreground: #0b0b0b;
}
